<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idv.heartisan.test.exam.dao.mapper.SchedulerLockDMOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="idv.heartisan.test.exam.dao.dmo.SchedulerLockDMO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="execution_time" property="executionTime" />
    </resultMap>

</mapper>
